.container {
    --width: 1200px;
    --spacing: 1rem;
    
    max-width: var(--width);
    margin-inline: auto;
    padding-inline: var(--spacing);
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row {
    --gutter-x: 0;
    --gutter-y: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.reverse-row {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.reverse-row > * {
    margin-block: var(--gutter-y);
    padding-inline: var(--gutter-x);
}

.gx-1 {
    ---gutter-x: 0.25rem;
}

.gy-1 {
    --gutter-y: 0.25rem;
}

.g-1 {
    --gutter-x: 0.25rem;
    --gutter-y: 0.25rem;
}

.g-1 {
    --gutter-x: 2.25rem;
    --gutter-y: 2.25rem;
}

.col {
    flex: 1 0 0%;
    width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    flex: 0 0 auto;
}

.col-1  { width: 8.33333333%; }
.col-2  { width: 16.66666667%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33333333%; }
.col-5  { width: 41.66666667%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33333333%; }
.col-8  { width: 66.66666667%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33333333%; }
.col-11 { width: 91.66666667%; }
.col-12 { width: 100%; }

.offset-1  { margin-left: 8.33333333%; }
.offset-2  { margin-left: 16.66666667%; }
.offset-3  { margin-left: 25%; }
.offset-4  { margin-left: 33.33333333%; }
.offset-5  { margin-left: 41.66666667%; }
.offset-6  { margin-left: 50%; }
.offset-7  { margin-left: 58.33333333%; }
.offset-8  { margin-left: 66.66666667%; }
.offset-9  { margin-left: 75%; }
.offset-10 { margin-left: 83.33333333%; }
.offset-11 { margin-left: 91.66666667%; }

/* gutter spacer utilities */
.g-0, .gx-0 { --gutter-x: 0; }
.g-0, .gy-0 { --gutter-y: 0; }

.g-1, .gx-1 { --gutter-x: 0.25rem; }
.g-1, .gy-1 { --gutter-y: 0.25rem; }

.g-2, .gx-2 { --gutter-x: 0.5rem; }
.g-2, .gy-2 { --gutter-y: 0.5rem; }

.g-3, .gx-3 { --gutter-x: 1rem; }
.g-3, .gy-3 { --gutter-y: 1rem; }

.g-4, .gx-4 { --gutter-x: 1.5rem; }
.g-4, .gy-4 { --gutter-y: 1.5rem; }

.g-5, .gx-5 { --gutter-x: 3rem; }
.g-5, .gy-5 { --gutter-y: 3rem; }

@media (max-width: 36rem) {
    .col-sm {
        flex: 1 0 0%;
        width: 100%;
    }
    
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
    .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        flex: 0 0 auto;
    }
    
    .col-sm-1  { width: 8.33333333%; }
    .col-sm-2  { width: 16.66666667%; }
    .col-sm-3  { width: 25%; }
    .col-sm-4  { width: 33.33333333%; }
    .col-sm-5  { width: 41.66666667%; }
    .col-sm-6  { width: 50%; }
    .col-sm-7  { width: 58.33333333%; }
    .col-sm-8  { width: 66.66666667%; }
    .col-sm-9  { width: 75%; }
    .col-sm-10 { width: 83.33333333%; }
    .col-sm-11 { width: 91.66666667%; }
    .col-sm-12 { width: 100%; }

    .offset-sm-1  { margin-left: 8.33333333%; }
    .offset-sm-2  { margin-left: 16.66666667%; }
    .offset-sm-3  { margin-left: 25%; }
    .offset-sm-4  { margin-left: 33.33333333%; }
    .offset-sm-5  { margin-left: 41.66666667%; }
    .offset-sm-6  { margin-left: 50%; }
    .offset-sm-7  { margin-left: 58.33333333%; }
    .offset-sm-8  { margin-left: 66.66666667%; }
    .offset-sm-9  { margin-left: 75%; }
    .offset-sm-10 { margin-left: 83.33333333%; }
    .offset-sm-11 { margin-left: 91.66666667%; }
}